<div class="col-10 offset-1">
	<h1>About Splurty</h1>

	<p>
    Splurty was built by <a>Alexandra Videll</a>, an aspiring web developer who is new to the world of coding but loves the intricacies of creating apps.
  </p>
  <br />
  <p>
    She is currently working in the mental health field and hopes to take her new skills and apply them where she can do the most good.
  </p>

   <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Alexandra Videll</h2>
      <br />
      <p>
        Alexandra Videll is an aspiring web developer currently working in the mental health field. 
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>