<h2>
	<span>SPLURTY / No. <%= @quote.id %>
	Here's how <u>you know you're in New York City</u>!
	</span>
</h2>

<h1><%= @quote.saying %></h1>
<h2 class= "float-right">- <%= @quote.author %></h2>
<br class="clear" />
<br />
<br />
<br />

